<app-auth-layout [imageSrc]="imageSrc" [title]="title">
  <form
    class="flex flex-col gap-4 w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="text"
      required
      formControlName="name"
      placeholder="Name"
      class="text-sm sm:text-base p-2 border border-blue-900 rounded-md w-full focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="email"
      required
      formControlName="email"
      placeholder="john@gmail.com"
      class="text-sm sm:text-base p-2 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="password"
      required
      formControlName="password"
      placeholder="Password"
      class="text-sm sm:text-base p-2 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
    />
    <input
      type="password"
      required
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      class="text-sm sm:text-base p-2 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
    />
    <button
      type="submit"
      [disabled]="loading"
      class="bg-blue-900 text-white p-2 rounded-md transition-colors duration-300"
    >
      {{ loading ? "Loading..." : "Register" }}
    </button>
    <div class="w-full flex items-center justify-center gap-2">
      <span class="text-blue-900">Already have an account?</span>
      <a [routerLink]="['/', 'sign-in']" class="text-blue-500 underline">
        Sign in
      </a>
    </div>
  </form>
</app-auth-layout>
