<app-auth-layout [imageSrc]="imageSrc" [title]="title">
  <form
    class="flex flex-col gap-4 w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="w-full flex flex-col items-center justify-center gap-1">
      <!-- Full Name Input -->
      <input
        type="text"
        required
        formControlName="fullName"
        placeholder="Your Name"
        class="text-sm sm:text-base p-2 border text-blue-900 border-blue-900 rounded-md w-full focus:ring-2 focus:ring-blue-500"
      />
      <div
        class="text-red-500 text-[12px] w-full text-left pl-[5px]"
        *ngIf="
          hasDisplayableError('fullName') &&
          form.controls['fullName'].hasError('required')
        "
      >
        Please enter your name
      </div>
    </div>

    <!-- Email Input -->
    <div class="w-full flex flex-col items-center justify-center gap-1">
      <input
        type="email"
        required
        formControlName="email"
        placeholder="Your Email"
        class="w-full text-sm sm:text-base p-2 text-blue-900 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
      />
      <div
        class="text-red-500 text-[12px] w-full text-left pl-[5px]"
        *ngIf="hasDisplayableError('email')"
      >
        <ng-container [ngSwitch]="form.controls['email'].errors | firstKey">
          <div *ngSwitchCase="'required'">Please enter your email</div>
          <div *ngSwitchCase="'email'">Please enter a valid email</div>
        </ng-container>
      </div>
    </div>

    <!-- Password Input -->
    <div
      class="relative w-full flex flex-col items-center justify-center gap-1"
    >
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        required
        formControlName="password"
        placeholder="Password"
        class="w-full text-sm sm:text-base p-2 text-blue-900 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
      />
      <div
        class="text-red-500 text-[12px] w-full text-left pl-[5px]"
        *ngIf="hasDisplayableError('password')"
      >
        <ng-container [ngSwitch]="form.controls['password'].errors | firstKey">
          <div *ngSwitchCase="'required'">Please enter your password</div>
          <div *ngSwitchCase="'minlength'">
            Password must be at least 6 characters long
          </div>
          <div *ngSwitchCase="'uppercase'">
            Password must include at least one uppercase letter
          </div>
          <div *ngSwitchCase="'lowercase'">
            Password must include at least one lowercase letter
          </div>
          <div *ngSwitchCase="'number'">
            Password must include at least one number
          </div>
          <div *ngSwitchCase="'specialCharacter'">
            Password must include at least one special character
          </div>
        </ng-container>
      </div>
      <!-- Toggle Button for Password Visibility -->
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute right-2 top-[23px] transform -translate-y-1/2 text-blue-900"
      >
        <i
          class="fas"
          [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
        ></i>
      </button>
    </div>

    <!-- Confirm Password Input -->
    <div
      class="relative w-full flex flex-col items-center justify-center gap-1"
    >
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        required
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        class="w-full text-sm sm:text-base p-2 text-blue-900 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
      />
      <div
        class="text-red-500 text-[12px] w-full text-left pl-[5px]"
        *ngIf="hasDisplayableError('confirmPassword')"
      >
        <div
          *ngIf="form.controls['confirmPassword'].hasError('passwordMismatch')"
        >
          Passwords does not match
        </div>
      </div>
      <!-- Toggle Button for Password Visibility -->
      <button
        type="button"
        (click)="toggleConfirmPasswordVisibility()"
        class="absolute right-2 top-[23px] transform -translate-y-1/2 text-blue-900"
      >
        <i
          class="fas"
          [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
        ></i>
      </button>
    </div>

    <!-- Gender (Male/Female/Other) radio buttons -->
    <div
      class="w-full flex flex-col sm:flex-row items-center justify-start gap-2 sm:gap-8 text-blue-900"
    >
      <label>Gender:</label>
      <div class="flex flex-row items-center gap-4">
        <label>
          <input type="radio" name="gender" value="Male" checked /> Male
        </label>
        <label>
          <input type="radio" name="gender" value="Female" /> Female
        </label>
        <label>
          <input type="radio" name="gender" value="Other" /> Other
        </label>
      </div>
    </div>

    <!-- Date of Birth -->
    <div
      class="w-full flex flex-col gap-2 items-center justify-start text-blue-900"
    >
      <div
        class="w-full flex flex-col sm:flex-row gap-2 sm:gap-8 justify-start items-center"
      >
        <label>Date of Birth:</label>
        <input
          type="date"
          required
          formControlName="dateOfBirth"
          class="text-sm sm:text-base p-2 text-blue-900 border border-blue-900 rounded-md focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div
        class="text-red-500 text-[12px] w-full text-left pl-[5px]"
        *ngIf="hasDisplayableError('dob')"
      >
        <div *ngIf="form.controls['dob'].hasError('required')">
          Please enter your date of birth
        </div>
      </div>
    </div>

    <!-- Register Button -->
    <button
      type="submit"
      [disabled]="loading || form.invalid"
      class="bg-blue-900 text-white p-2 rounded-md transition-colors duration-300 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      {{ loading ? "Loading..." : "Register" }}
    </button>

    <div class="w-full flex flex-col items-center justify-center gap-1">
      <!-- Already have an account? Sign in -->
      <div class="w-full flex items-center justify-center gap-2">
        <span class="text-blue-900">Already have an account?</span>
        <a [routerLink]="['/', 'sign-in']" class="text-blue-500 underline">
          Sign in
        </a>
      </div>

      <!-- Send verification email -->
      <div class="w-full flex items-center justify-center gap-2">
        <span class="text-blue-900">Verify Account?</span>
        <a
          [routerLink]="['/', 'send-verification-email']"
          class="text-blue-500 underline"
          >Send verification email
        </a>
      </div>
    </div>
  </form>
</app-auth-layout>
