<div
  class="w-full h-full flex items-center justify-center gap-4 flex-col bg-black text-white p-4"
>
  <!-- This is visible when the email verification is in progress -->
  <div
    class="w-full flex flex-col items-center gap-4"
    *ngIf="loading && !success && !failed && !invaliadLink"
  >
    <img
      [src]="gifSrc"
      alt="logo"
      class="w-full h-[200px] object-cover rounded-lg shadow-md"
    />
    <p
      class="text-lg capitalize text-blue-300 font-bold tracking-wide animate-pulse"
    >
      Hold tight! We are processing your email verification. This may take a few
      moments.
    </p>
  </div>

  <!-- This is visible when the email verification is successful -->
  <div
    *ngIf="success && !loading && !failed && !invaliadLink"
    class="text-lg text-blue-500 font-bold flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg"
  >
    <p class="text-center">🎉 Email verification successful!</p>
    <a
      [routerLink]="['/', 'sign-in']"
      class="text-white bg-blue-900 px-6 py-3 rounded-md shadow-md hover:bg-blue-600 transition duration-200 ease-in-out flex items-center justify-center"
    >
      Sign In
    </a>
  </div>

  <!-- This is visible when the email verification has failed -->
  <div
    *ngIf="failed && !loading && !success && !invaliadLink"
    class="text-lg text-red-500 font-bold flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg"
  >
    <p class="text-center">❌ Email verification failed</p>
    <a
      [routerLink]="['/', 'send-verification-email']"
      class="text-white bg-blue-900 px-6 py-3 rounded-md shadow-md hover:bg-blue-600 transition duration-200 ease-in-out flex items-center justify-center"
    >
      Resend Verification Email
    </a>
  </div>

  <!-- This is visible when the link is invalid -->
  <div
    *ngIf="!failed && !loading && !success && invaliadLink"
    class="text-lg text-red-500 font-bold flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg"
  >
    <p class="text-center">⚠️ Email verification link is invalid</p>
    <a
      [routerLink]="['/', 'send-verification-email']"
      class="text-white bg-blue-900 px-6 py-3 rounded-md shadow-md hover:bg-blue-600 transition duration-200 ease-in-out flex items-center justify-center"
    >
      Resend Verification Email
    </a>
  </div>

  <div
    class="w-full h-full flex items-center justify-center gap-4 flex-col bg-black text-white p-6"
    *ngIf="!loading && !success && !failed && !invaliadLink"
  >
    <!-- Header Section -->
    <div class="text-center w-full sm:w-[60%] md:w-[40%]">
      <h1 class="text-3xl font-bold text-blue-300">Welcome!</h1>
      <p class="text-lg text-gray-300 mt-2">
        You're just one step away from completing your registration. Please
        verify your email to activate your account and unlock full access.
      </p>
      <p class="text-red-500 text-sm mt-2">
        Email verification is a crucial step to ensure the security of your
        account.
      </p>
    </div>

    <!-- Action Section -->
    <div class="mt-8 flex flex-col items-center gap-4">
      <button
        (click)="confirmEmailUser(email, code)"
        class="text-white bg-blue-900 px-6 py-3 rounded-md shadow-md hover:bg-blue-600 transition duration-200 ease-in-out border border-blue-200 uppercase"
      >
        Click here to confirm your email
      </button>
      <p class="text-sm text-gray-400 mt-4">
        If something goes wrong, you can
        <a
          [routerLink]="['/', 'send-verification-email']"
          class="text-blue-300 underline hover:text-blue-500"
        >
          resend the verification email </a
        >.
      </p>
    </div>
  </div>
</div>
